<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLb3PVuVDt0ouf-bS639oQ6RJr7KRZK0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>655432102759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ioskonf.catswithhats</string>
	<key>PROJECT_ID</key>
	<string>catswithhats</string>
	<key>STORAGE_BUCKET</key>
	<string>catswithhats.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655432102759:ios:27f68a03f5fd2b7f38f5c2</string>
</dict>
</plist>